*.local.cfg
cache
.DS_Store

# file output when tests fail
test.log

# editor temporaries
*~

# downloaded files
data/*.zip
data/*.tar.gz
data/land-polygons-split-3857/
data/water-polygons-split-3857/
data/*.shp
data/*.cpg
data/*.dbf
data/*.prj
data/*.shx
data/*.qpj
data/wof_neighbourhoods.pgdump
data/*.README.html
data/*.VERSION.txt
data/*.json
data/wikidata_snapshot.sql

# python compiled bytecode and development files
*.pyc
vector_datasource.egg-info/

# recommended virtualenv path
env/

data/Makefile-import-data
data/Makefile-prepare-data
data/import-shapefiles.sh

# files generated during testing
empty.osm
data.osc
test_server.port

# files generated during installation of software necessary for testing
.eggs/*
