argparse==1.2.1
boto==2.33.0
hiredis==0.1.5
ModestMaps==1.4.6
numpy==1.10.4
protobuf==2.6.0
psycopg2==2.5.4
python-memcached==1.53
PyYAML==3.11
Shapely==1.4.3
simplejson==3.6.4
StreetNames==0.1.5
Werkzeug==0.9.6
wsgiref==0.1.2
AppDirs==1.4.0
lxml==3.6.0
git+https://github.com/mapzen/tilequeue@master#egg=tilequeue
git+https://github.com/mapzen/tileserver@master#egg=tileserver
