AppDirs==1.4.4
ASTFormatter==0.6.4
boto==2.49.0
edtf==2.6.0
future==0.16.0
gunicorn==19.9.0
hiredis==0.2.0
lxml==4.5.2
mapbox-vector-tile==1.2.0
ModestMaps==1.4.7
protobuf==3.12.4
psycopg2==2.8.5
pyclipper==1.2.0
pycountry==20.7.3
python-dateutil==2.8.1
PyYAML==5.3.1
redis==2.10.6.2
Shapely==1.6.2.post1
StreetNames==0.1.5
tqdm==4.48.2
Werkzeug==0.16.1
git+https://github.com/tilezen/tilequeue@master#egg=tilequeue
git+https://github.com/tilezen/tileserver@master#egg=tileserver
git+https://github.com/tilezen/raw_tiles@master#egg=raw_tiles
