
    def test_{{name}}(self):
        import dsl

        z, x, y = ({{z}}, {{x}}, {{y}})

        self.generate_fixtures(
            # https://www.openstreetmap.org/{{elt_type}}/{{elt_id}}
            {{geom_fn_name}}({{elt_id}}, {{geom_fn_arg}}, {
        {%- for k, v in tags|dictsort %}
                {{k|repr}}: {{v|repr}},
        {%- endfor %}
            }),
        )

        self.assert_has_feature(
            z, x, y, '{{layer_name}}', {
                'id': {{elt_id}},
        {%- if expect is not none %}
        {%-   for k, v in expect|dictsort %}
                {{k|repr}}: {{v|repr}},
        {%-   endfor %}
        {%- endif %}
            })
