SELECT
    -- drop name when the item is a POI - in that case the name
    -- probably refers to the POI. instead, we can use the house
    -- name tag, if it has been set. likewise for landuse areas
    -- where we might want to label the landuse rather than the
    -- building.
    CASE WHEN mz_poi_min_zoom IS NULL AND mz_landuse_min_zoom IS NULL
         THEN name
         ELSE "addr:housename"
    END AS name,
    way_area::bigint AS area,
    osm_id AS __id__,
    'openstreetmap.org' AS source,
    NULL AS kind,
    building,
    "building:part",
    "building:levels",
    "building:min_levels",
    height,
    min_height,
    layer,
    tags->'location' AS location,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    "roof:color" AS roof_color,
    "roof:material" AS roof_material,
    "roof:shape" AS roof_shape,
    "roof:height" AS roof_height,
    "roof:orientation" AS roof_orientation,
    "addr:housenumber" AS addr_housenumber,
    "addr:street" AS addr_street,
{% if zoom >= 16 %}
    CASE WHEN mz_building_filter(tags->'building:height', "building:levels", way_area, 50000, 25)
      THEN 16
      ELSE 17
    END AS min_zoom,
{% endif %}
    %#tags AS tags

FROM
    planet_osm_polygon

WHERE

    -- note: this is the first filter, as we use this to determine if
    -- something should be a POI, a building or a landuse polygon, and
    -- the logic needs to be consistent across all branches.
    mz_calculate_is_building_or_part(building, "building:part") = TRUE
{% if zoom < 15 %}
    AND building IS NOT NULL AND building <> 'no'
{% endif %}

{% if   zoom == 13 %}
   AND mz_building_filter(tags->'building:height', "building:levels", way_area, 300000, 1600)
{% elif zoom == 14 %}
   AND mz_building_filter(tags->'building:height', "building:levels", way_area, 200000,  100)
{% elif zoom == 15 %}
   AND mz_building_filter(tags->'building:height', "building:levels", way_area, 100000,  100)
{% endif %}

    AND {{ bounds|bbox_filter('way') }}

{% if zoom >= 16 %}

UNION ALL

SELECT
    name,
    NULL AS area,
    osm_id AS __id__,
    'openstreetmap.org' AS source,
    'address' AS kind,
    NULL AS building,
    NULL AS "building:part",
    NULL AS "building:levels",
    NULL AS "building:min_levels",
    NULL AS height,
    NULL AS min_height,
    NULL AS layer,
    NULL AS location,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    NULL AS roof_color,
    NULL AS roof_material,
    NULL AS roof_shape,
    NULL AS roof_height,
    NULL AS roof_orientation,
    "addr:housenumber" AS addr_housenumber,
    "addr:street" AS addr_street,
{% if zoom >= 16 %}
    17 AS min_zoom,
{% endif %}
    %#tags AS tags

FROM
    planet_osm_point

WHERE

    "addr:housenumber" IS NOT NULL AND
    {{ bounds|bbox_filter('way') }}

{% endif %}
