SELECT
    osm_id AS __id__,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    {% filter geometry %}mz_label_placement{% endfilter %} AS __label__,
    mz_calculate_json_buildings(planet_osm_polygon.*) AS mz_properties,
    to_jsonb(tags) || jsonb_build_object(
      -- drop name when the item is a POI - in that case the name
      -- probably refers to the POI. instead, we can use the house
      -- name tag, if it has been set. likewise for landuse areas
      -- where we might want to label the landuse rather than the
      -- building.
      'name', CASE WHEN mz_poi_min_zoom IS NULL AND mz_landuse_min_zoom IS NULL
                THEN tags->'name'
                ELSE tags->'addr:housename'
              END,
      'area', way_area::bigint,
      'source', 'openstreetmap.org',
      'min_zoom', mz_building_min_zoom
    ) AS __properties__

FROM
    planet_osm_polygon

WHERE

    {{ bounds['polygon']|bbox_filter('way',3857) }} AND
{% if zoom >= 16 %}
    mz_building_min_zoom IS NOT NULL
{% else %}
    mz_building_min_zoom < {{ zoom + 1 }}
{% endif %}

{% if zoom >= 16 %}

UNION ALL

SELECT
    osm_id AS __id__,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    NULL AS __label__,
    mz_calculate_json_buildings(planet_osm_point.*) AS mz_properties,
    to_jsonb(tags) || jsonb_build_object(
      'source', 'openstreetmap.org',
      'min_zoom', mz_building_min_zoom,
      'label_placement', true
    ) AS __properties__

FROM
    planet_osm_point

WHERE

    {{ bounds['point']|bbox_filter('way',3857) }} AND
    mz_building_min_zoom IS NOT NULL

{% endif %}
