SELECT
    -- drop name when the item is a POI - in that case the name
    -- probably refers to the POI. instead, we can use the house
    -- name tag, if it has been set. likewise for landuse areas
    -- where we might want to label the landuse rather than the
    -- building.
    CASE WHEN mz_poi_min_zoom IS NULL AND mz_landuse_min_zoom IS NULL
         THEN tags->'name'
         ELSE tags->'addr:housename'
    END AS name,
    way_area::bigint AS area,
    osm_id AS __id__,
    'openstreetmap.org' AS source,
    mz_calculate_json_buildings(planet_osm_polygon.*) AS mz_properties,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    mz_building_min_zoom AS min_zoom,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    NULL::boolean AS label_placement,
    %#tags AS tags

FROM
    planet_osm_polygon

WHERE

    {{ bounds['polygon']|bbox_filter('way',3857) }} AND
{% if zoom >= 16 %}
    mz_building_min_zoom IS NOT NULL
{% else %}
    mz_building_min_zoom <= {{ zoom }}
{% endif %}

{% if zoom >= 16 %}

UNION ALL

SELECT
    tags->'name' AS name,
    NULL AS area,
    osm_id AS __id__,
    'openstreetmap.org' AS source,
    mz_calculate_json_buildings(planet_osm_point.*) AS mz_properties,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    mz_building_min_zoom AS min_zoom,
    NULL AS mz_label_placement,
    true AS label_placement,
    %#tags AS tags

FROM
    planet_osm_point

WHERE

    {{ bounds['point']|bbox_filter('way',3857) }} AND
    mz_building_min_zoom IS NOT NULL

{% endif %}
