{% if zoom < 9 %}

SELECT
    NULL AS name,
    NULL AS area,
    mz_calculate_json_earth(t.*) AS mz_properties,
    'naturalearthdata.com' AS source,
    {% filter geometry %}{{ bounds['polygon']|bbox_intersection('the_geom') }}{% endfilter %} AS __geometry__,
    gid AS __id__,
    mz_earth_min_zoom AS min_zoom,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    NULL::boolean AS label_placement,
    NULL AS tags
FROM
{% if zoom < 2 %}
    ne_110m_land t
{% elif 2 <= zoom < 5 %}
    ne_50m_land t
{% elif 5 <= zoom < 9 %}
    ne_10m_land t
{% endif %}

WHERE
    mz_earth_min_zoom <= {{ zoom }} AND
    {{ bounds['polygon']|bbox_filter('the_geom',3857) }}

{% else %}

SELECT
    NULL AS name,
    NULL AS area,
    mz_calculate_json_earth(t.*) AS mz_properties,
    'openstreetmapdata.com' AS source,
    {% filter geometry %}{{ bounds['polygon']|bbox_intersection('the_geom') }}{% endfilter %} AS __geometry__,
    gid AS __id__,
    NULL AS min_zoom,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    NULL::boolean AS label_placement,
    NULL AS tags

FROM
    land_polygons t

WHERE
    {{ bounds['polygon']|bbox_filter('the_geom',3857) }}

{% endif %}

{% if zoom >= 7 %}

UNION ALL

SELECT
    tags->'name' AS name,
    way_area::bigint AS area,
    mz_calculate_json_earth(t.*) AS mz_properties,
    'openstreetmap.org' AS source,
    {% filter geometry %}{{ bounds['polygon']|bbox_intersection('way') }}{% endfilter %} AS __geometry__,
    osm_id AS __id__,
    mz_earth_min_zoom AS min_zoom,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    NULL::boolean AS label_placement,
    %#tags AS tags

FROM planet_osm_polygon t

WHERE
{% if zoom < 16 %}
    mz_earth_min_zoom <= {{ zoom }} AND
{% else %}
    mz_earth_min_zoom IS NOT NULL AND
{% endif %}
    {{ bounds['polygon']|bbox_filter('way',3857) }}

UNION ALL

SELECT
    tags->'name' AS name,
    NULL AS area,
    mz_calculate_json_earth(t.*) AS mz_properties,
    'openstreetmap.org' AS source,
    {% filter geometry %}{{ bounds['line']|bbox_intersection('way') }}{% endfilter %} AS __geometry__,
    osm_id AS __id__,
    mz_earth_min_zoom AS min_zoom,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    NULL::boolean AS label_placement,
    %#tags AS tags

FROM planet_osm_line t

WHERE
{% if zoom < 16 %}
    mz_earth_min_zoom <= {{ zoom }} AND
{% else %}
    mz_earth_min_zoom IS NOT NULL AND
{% endif %}
    {{ bounds['line']|bbox_filter('way',3857) }}

{% endif %}

UNION ALL

SELECT
  tags->'name' AS name,
  NULL AS area,
  mz_calculate_json_earth(t.*) AS mz_properties,
  'openstreetmap.org' AS source,
  {% filter geometry %}way{% endfilter %} AS __geometry__,
  osm_id AS __id__,
  mz_earth_min_zoom AS min_zoom,
  NULL AS mz_label_placement,
  true AS label_placement,
  %#tags AS tags

FROM
  planet_osm_point t

WHERE
{% if zoom < 16 %}
  mz_earth_min_zoom <= {{ zoom }} AND
{% else %}
  mz_earth_min_zoom IS NOT NULL AND
{% endif %}
  {{ bounds['point']|bbox_filter('way',3857) }}
