{% if 4 <= zoom < 9 %}

SELECT
  name,
  tags->'protect_class' AS protect_class,
  way_area::bigint AS area,
  mz_calculate_landuse_kind("landuse", "leisure", "natural", "highway", "aeroway", "amenity", "tourism", "man_made", "power", "boundary") AS kind,
  'openstreetmap.org' AS source,
  {% filter geometry %}way{% endfilter %} AS __geometry__,
  osm_id AS __id__
FROM
  planet_osm_polygon
WHERE
  {{ bounds|bbox_filter('way') }}
  AND name IS NOT NULL
  AND boundary IN ('national_park', 'protected_area')
  AND mz_one_pixel_zoom(way_area) <= {{ zoom }}

{% else %}

SELECT
    name,
    way_area::bigint AS area,
    tags->'protect_class' AS protect_class,
    mz_calculate_landuse_kind("landuse", "leisure", "natural", "highway", "aeroway", "amenity", "tourism", "man_made", "power", "boundary") AS kind,
    'openstreetmap.org' AS source,
    {% filter geometry %}mz_centroid{% endfilter %} AS __geometry__,
    osm_id AS __id__,
    sport,
    religion,
    %#tags AS tags
FROM
    planet_osm_polygon
WHERE
    mz_is_landuse = TRUE
    AND name IS NOT NULL
    {% if zoom < 17 %}
    AND (amenity IS NULL OR amenity != 'parking')
    {% endif %}
    AND {{ bounds|bbox_filter('way') }}
    {% if zoom <= 15 %}
    AND mz_one_pixel_zoom(way_area) <= {{ zoom }}
    {% endif %}

{% endif %}
