{% if 4 <= zoom < 8 %}

SELECT
  name,
  tags->'protect_class' AS protect_class,
  way_area::bigint AS area,
  mz_calculate_landuse_kind("landuse", "leisure", "natural", "highway", "aeroway", "amenity", "tourism", "man_made", "power", "boundary") AS kind,
  'openstreetmap.org' AS source,
  {% filter geometry %}way{% endfilter %} AS __geometry__,
  osm_id AS __id__
FROM
  planet_osm_polygon
WHERE
  {{ bounds|bbox_filter('way') }}
  AND mz_landuse_label_min_zoom <= {{ zoom }}

{% else %}

SELECT
    name,
    way_area::bigint AS area,
    tags->'protect_class' AS protect_class,
    mz_calculate_landuse_kind("landuse", "leisure", "natural", "highway", "aeroway", "amenity", "tourism", "man_made", "power", "boundary") AS kind,
    'openstreetmap.org' AS source,
    {% filter geometry %}mz_centroid{% endfilter %} AS __geometry__,
    osm_id AS __id__,
    sport,
    religion,
    %#tags AS tags
FROM
    planet_osm_polygon
WHERE
    {{ bounds|bbox_filter('way') }}
    AND mz_landuse_label_min_zoom <= {{ zoom }}

{% endif %}
