{% macro ne_landuse_cols(kind) %}
    NULL AS protect_class,
    NULL AS operator,
    way_area::bigint AS area,
    '{{ kind }}' AS kind,
    'naturalearthdata.com' AS source,
    {% filter geometry %}the_geom{% endfilter %} AS __geometry__,
    gid AS __id__
{% endmacro %}

{% if 4 <= zoom < 6 %}

SELECT
    '' AS name,
    {{ ne_landuse_cols('urban area') }}
FROM
    ne_50m_urban_areas
WHERE
    {{ bounds|bbox_filter('the_geom') }}

UNION ALL

SELECT
  name,
  tags->'protect_class' AS protect_class,
  operator,
  way_area::bigint AS area,
  mz_calculate_landuse_kind("landuse", "leisure", "natural", "highway", "aeroway", "amenity", "tourism", "man_made", "power", "boundary") AS kind,
  'openstreetmap.org' AS source,
  {% filter geometry %}way{% endfilter %} AS __geometry__,
  osm_id AS __id__
FROM
  planet_osm_polygon
WHERE
  {{ bounds|bbox_filter('way') }}
  AND (boundary IN ('national_park', 'protected_area') OR leisure='nature_reserve')
  AND mz_one_pixel_zoom(way_area) <= {{ zoom }}

{% elif 6 <= zoom < 8 %}

SELECT
    '' AS name,
    {{ ne_landuse_cols('urban area') }}
FROM
    ne_10m_urban_areas
WHERE
    {{ bounds|bbox_filter('the_geom') }}

UNION ALL

SELECT
  name,
  tags->'protect_class' AS protect_class,
  operator,
  way_area::bigint AS area,
  mz_calculate_landuse_kind("landuse", "leisure", "natural", "highway", "aeroway", "amenity", "tourism", "man_made", "power", "boundary") AS kind,
  'openstreetmap.org' AS source,
  {% filter geometry %}way{% endfilter %} AS __geometry__,
  osm_id AS __id__
FROM
  planet_osm_polygon
WHERE
  {{ bounds|bbox_filter('way') }}
  AND (boundary IN ('national_park', 'protected_area') OR leisure='nature_reserve')
  AND mz_one_pixel_zoom(way_area) <= {{ zoom }}

{% else %}

SELECT
    name,
    way_area::bigint AS area,
    tags->'protect_class' AS protect_class,
    operator,
    mz_calculate_landuse_kind("landuse", "leisure", "natural", "highway", "aeroway", "amenity", "tourism", "man_made", "power", "boundary") AS kind,
    'openstreetmap.org' AS source,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    osm_id AS __id__,
    sport,
    religion,
    %#tags AS tags
FROM
    planet_osm_polygon
WHERE
    mz_is_landuse = TRUE
    AND {{ bounds|bbox_filter('way') }}
    {% if zoom <= 15 %}
    AND mz_one_pixel_zoom(way_area) <= {{ zoom }}
    {% endif %}

{% if zoom < 10 %}
UNION ALL

-- "cross-fade" NE urban area polygons for a couple of zooms.
SELECT
  '' AS name,
  {{ ne_landuse_cols('urban area') }},
  NULL AS sport,
  NULL AS religion,
  NULL AS tags
FROM
  ne_10m_urban_areas
WHERE
  {{ bounds|bbox_filter('the_geom') }}
{% endif %}

{% endif %}
