{% extends 'ne.jinja2' %}
{% block query %}
{{ ne_boundaries_query(False, 'ne_110m_admin_0_boundary_lines_land') }}
UNION ALL
{{ ne_boundaries_query(False, 'ne_110m_admin_1_states_provinces_lines') }}
{% endblock %}
