{% extends 'ne.jinja2' %}
{% block query %}
{{ ne_water_query(False, True, False, False, True, 'ne_110m_ocean') }}
UNION ALL
{{ ne_water_query(False, True, True, False, True, 'ne_110m_lakes', wikidata=True) }}
UNION ALL
{{ ne_water_query(False, False, False, True, False, 'ne_110m_coastline') }}
UNION ALL
-- boundaries
{{ ne_water_query(True, True, True, True, True, 'ne_110m_lakes') }}
{% endblock %}
