{% extends 'ne.jinja2' %}
{% block query %}
{{ ne_water_query(False, True, False, False, True, 'ne_110m_ocean') }}
UNION ALL
{{ ne_water_query(False, True, True, False, True, 'ne_110m_lakes') }}
UNION ALL
{{ ne_water_query(False, False, False, True, False, 'ne_110m_coastline') }}
UNION ALL
{{ ne_water_query(False, False, False, True, False, 'ne_110m_rivers_lake_centerlines') }}
UNION ALL
-- boundaries
{{ ne_water_query(True, True, True, True, True, 'ne_110m_lakes') }}
UNION ALL
-- points, really this can be for 10m, 50m, 110m (like populated places)?
{{ ne_water_query(False, False, False, True, False, 'ne_110m_geography_marine_polys') }}
{% endblock %}
