SELECT
    name,
    featurecla AS kind,
    'naturalearthdata.com' AS source,
    {% filter geometry %}the_geom{% endfilter %} AS __geometry__,
    gid AS __id__,

    NULL AS admin_level,
    scalerank,
    labelrank,
    pop_max::text AS population,
    NULL AS capital,
    NULL AS state_capital,
    NULL::integer AS mz_n_photos,
    NULL::bigint AS area,
    NULL::smallint AS min_zoom,
    NULL::smallint AS max_zoom,
    NULL::text AS is_landuse_aoi,
    NULL AS tags

FROM ne_10m_populated_places

WHERE
    scalerank <= {{ zoom }}
    AND {{ bounds|bbox_filter('the_geom') }}

UNION ALL

SELECT
    name,
    place AS kind,
    'openstreetmap.org' AS source,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    osm_id AS __id__,

    admin_level,
    NULL AS scalerank,
    NULL AS labelrank,
    population,
    capital,
    tags->'state_capital' AS state_capital,
    NULL::integer AS mz_n_photos,
    NULL::bigint AS area,
    NULL::smallint AS min_zoom,
    NULL::smallint AS max_zoom,
    NULL::text AS is_landuse_aoi,
    %#tags AS tags

FROM planet_osm_point

WHERE
    name IS NOT NULL
    AND place IN (
        'continent',
        'ocean',
        'country'
        {% if zoom >= 3 %}, 'sea'{% endif %}
        {% if zoom >= 4 %}, 'state', 'province'{% endif %}
        {% if zoom >= 8 %},  'city', 'town'{% endif %}
        {% if zoom >= 10 %}, 'borough', 'suburb', 'quarter'{% endif %}
        {% if zoom >= 11 %}, 'village'{% endif %}
        {% if zoom >= 12 %}, 'hamlet'{% endif %}
        {% if zoom >= 13 %}, 'locality', 'isolated_dwelling', 'farm'{% endif %}
    )
    AND {{ bounds|bbox_filter('way') }}

{% if zoom >= 11 %}
UNION ALL

SELECT
    name,
    wof_np.placetype_string AS kind,
    'whosonfirst.mapzen.com' AS source,
    {% filter geometry %}label_position{% endfilter %} AS __geometry__,
    wof_id AS __id__,

    NULL AS admin_level,
    NULL AS scalerank,
    NULL AS labelrank,
    NULL AS population,
    NULL AS capital,
    NULL AS state_capital,
    n_photos AS mz_n_photos,
    area::bigint AS area,
    min_zoom,
    max_zoom,
    CASE WHEN is_landuse_aoi = true THEN 'yes' ELSE NULL END AS is_landuse_aoi,
    NULL AS tags

FROM wof_neighbourhood wof_n

INNER JOIN wof_neighbourhood_placetype wof_np ON wof_n.placetype = wof_np.placetype_code

WHERE
  wof_n.is_visible AND
  {{ bounds|bbox_filter('label_position') }} AND
  {{ zoom + 1 }} >= min_zoom AND
  {{ zoom - 1 }} <= max_zoom

{% endif %}
