SELECT
    name,
    mz_calculate_json_places(ne_10m_populated_places.*) AS mz_properties,
    'naturalearthdata.com' AS source,
    {% filter geometry %}the_geom{% endfilter %} AS __geometry__,
    gid AS __id__,

    NULL AS admin_level,
    scalerank,
    labelrank,
    pop_max::text AS population,
    NULL AS capital,
    NULL AS region_capital,
    NULL::integer AS mz_n_photos,
    NULL::bigint AS area,
    NULL::smallint AS min_zoom,
    NULL::smallint AS max_zoom,
    NULL::boolean AS is_landuse_aoi,
    NULL AS tags

FROM ne_10m_populated_places

WHERE
    mz_places_min_zoom <= {{ zoom }}
    AND {{ bounds['point']|bbox_filter('the_geom',3857) }}

UNION ALL

SELECT
    tags->'name' AS name,
    mz_calculate_json_places(planet_osm_point.*) AS mz_properties,
    'openstreetmap.org' AS source,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    osm_id AS __id__,

    tags->'admin_level' AS admin_level,
    NULL AS scalerank,
    NULL AS labelrank,
    tags->'population' AS population,
    tags->'capital' AS capital,
    (tags ? 'state_capital' AND tags->'state_capital' = 'yes') AS region_capital,
    NULL::integer AS mz_n_photos,
    NULL::bigint AS area,
    NULL::smallint AS min_zoom,
    NULL::smallint AS max_zoom,
    NULL::boolean AS is_landuse_aoi,
    %#tags AS tags

FROM planet_osm_point

WHERE
{% if zoom >= 16 %}
    mz_places_min_zoom IS NOT NULL
{% else %}
    mz_places_min_zoom <= {{ zoom }}
{% endif %}
    AND {{ bounds['point']|bbox_filter('way',3857) }}

{% if zoom >= 11 %}
UNION ALL

SELECT
    name,
    ('{"kind": ' || to_json(wof_np.placetype_string) || '}')::json AS mz_properties,
    'whosonfirst.mapzen.com' AS source,
    {% filter geometry %}label_position{% endfilter %} AS __geometry__,
    wof_id AS __id__,

    NULL AS admin_level,
    NULL AS scalerank,
    NULL AS labelrank,
    NULL AS population,
    NULL AS capital,
    NULL AS region_capital,
    n_photos AS mz_n_photos,
    area::bigint AS area,
    min_zoom,
    max_zoom,
    CASE WHEN is_landuse_aoi = true THEN true ELSE NULL END AS is_landuse_aoi,
    %#l10n_name AS tags

FROM wof_neighbourhood wof_n

INNER JOIN wof_neighbourhood_placetype wof_np ON wof_n.placetype = wof_np.placetype_code

WHERE
  wof_n.is_visible AND
  {{ bounds['point']|bbox_filter('label_position',3857) }} AND
  {{ zoom + 1 }} >= min_zoom AND
  {{ zoom - 1 }} <= max_zoom

{% endif %}
