SELECT
    name,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    osm_id AS __id__,
    min_zoom,
    way_area AS area,
    cuisine,
    religion,
    sport,
    (transit_routes).score AS mz_transit_score,
    (transit_routes).root_relation_id AS mz_transit_root_relation_id,
    (transit_routes).train_routes AS train_routes,
    (transit_routes).subway_routes AS subway_routes,
    (transit_routes).light_rail_routes AS light_rail_routes,
    (transit_routes).tram_routes AS tram_routes,
    ref,
    attraction,
    zoo,
    tags->'exit_to' AS exit_to,
    aeroway,
    %#tags AS tags,
    kind

FROM (

  SELECT
    name, way, 0::real AS way_area, mz_poi_min_zoom AS min_zoom,
    osm_id,
    cuisine, religion, sport, ref,
    aerialway, aeroway, amenity, barrier, craft, emergency, highway, historic, leisure, lock, man_made, "natural", office, power, railway, shop, tourism, waterway,
    tags->'attraction' AS attraction,
    tags->'zoo' AS zoo,
    -- note: the mz_calculate_transit_routes_and_score function is pretty
    -- expensive, so we only want to calculate it when we actually need the
    -- result.
    CASE
      WHEN railway='station' AND osm_id > 0
        THEN mz_calculate_transit_routes_and_score(osm_id, NULL)
      ELSE NULL
    END AS transit_routes,
    mz_calculate_kind_pois(planet_osm_point.*) AS kind,
    tags

  FROM
    planet_osm_point

  WHERE
    {{ bounds|bbox_filter('way') }}
{% if zoom >= 16 %}
    AND mz_poi_min_zoom IS NOT NULL
{% else %}
    AND mz_poi_min_zoom <= {{ zoom }}
{% endif %}

UNION ALL

  SELECT
    name, way, way_area, mz_poi_min_zoom AS min_zoom,
    osm_id,
    cuisine, religion, sport, ref,
    aerialway, aeroway, amenity, barrier, craft, emergency, highway, historic, leisure, lock, man_made, "natural", office, power, railway, shop, tourism, waterway,
    tags->'attraction' AS attraction,
    tags->'zoo' AS zoo,
    -- note: the mz_calculate_transit_routes_and_score function is pretty
    -- expensive, so we only want to calculate it when we actually need the
    -- result.
    CASE
      WHEN railway='station'
        THEN mz_calculate_transit_routes_and_score(NULL, osm_id)
      ELSE NULL
    END AS transit_routes,
    mz_calculate_kind_pois(planet_osm_polygon.*) AS kind,
    tags

  FROM
    planet_osm_polygon

  WHERE
    {{ bounds|bbox_filter('way') }}
{% if zoom >= 16 %}
    AND mz_poi_min_zoom IS NOT NULL
{% else %}
    AND mz_poi_min_zoom <= {{ zoom }}
{% endif %}

) pois
