{% if zoom < 8 %}
SELECT
    gid AS __id__,
    {% filter geometry %}the_geom{% endfilter %} AS __geometry__,
    'naturalearthdata.com' AS source,
    name,
    namealt,
    namealtt,
    featurecla AS kind,
    scalerank::float,
    labelrank,
    level,
    type

FROM ne_10m_roads

WHERE
    {{ bounds|bbox_filter('the_geom') }}
    AND scalerank <= {{ zoom }}

{% else %}

SELECT
    osm_id AS __id__,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    'openstreetmap' AS source,
    name,
    aeroway,
    bridge,
    highway,
    tags->'ferry' AS ferry,
    layer,
    railway,
    tunnel,
    oneway,
    ref,
    operator,
    route,
    tags->'type' AS type,
    tags->'colour' AS colour,
    CASE WHEN highway IN ('motorway', 'motorway_link', 'trunk', 'trunk_link',
                          'primary', 'primary_link', 'secondary', 'secondary_link',
                          'tertiary', 'tertiary_link')
              OR railway IN ('rail', 'tram', 'light_rail', 'narrow_gauge', 'monorail')
              THEN mz_get_rel_network(osm_id)
         ELSE tags->'network'
         END AS network,
    tags->'state' AS state,
    tags->'symbol' AS symbol,
    tags->'description' AS description,
    tags->'distance' AS distance,
    tags->'ascent' AS ascent,
    tags->'descent' AS descent,
    tags->'roundtrip' AS roundtrip,
    tags->'route_name' AS route_name,
    tags->'motor_vehicle' AS motor_vehicle,
    %#tags AS tags

FROM planet_osm_line

WHERE
    {{ bounds|bbox_filter('way') }}
    AND mz_calculate_road_level(highway, railway, aeroway, route, way) <= {{ zoom }}
    -- the below is to filter out any relations-as-roads, since instead we are
    -- projecting the network attribute onto the ways. it needs some adjustment as
    -- other features, in this case ferry routes, are routinely mapped as relations.
    AND (osm_id > 0 OR route = 'ferry')

{% endif %}
