{% macro transit_query(table, geom_type) %}
SELECT
    osm_id AS __id__,
    'openstreetmap.org' AS source,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    tags->'name' AS name,
    tags->'ref' AS ref,
    tags->'operator' AS operator,
    mz_calculate_json_transit({{ table }}.*) AS mz_properties,
    tags->'type' AS type,
    tags->'colour' AS colour,
    tags->'network' AS network,
    tags->'state' AS state,
    tags->'symbol' AS symbol,
    tags->'description' AS description,
    tags->'distance' AS distance,
    tags->'ascent' AS ascent,
    tags->'descent' AS descent,
    tags->'roundtrip' AS roundtrip,
    tags->'route_name' AS route_name,
    tags->'layer' AS layer,
    tags->'service' AS service,
    %#tags AS tags

FROM {{ table }}

WHERE
    {{ bounds[geom_type]|bbox_filter('way',3857) }}
{% if zoom >= 16 %}
    AND mz_transit_level IS NOT NULL
{% else %}
    AND mz_transit_level <= {{ zoom }}
{% endif %}
{% endmacro %}

{{ transit_query('planet_osm_line', 'line') }}

UNION ALL

{{ transit_query('planet_osm_polygon', 'polygon') }}
