{% macro transit_query(table) %}
SELECT
    osm_id AS __id__,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    name,
    ref,
    operator,
    mz_calculate_kind_transit({{ table }}.*) AS kind,
    tags->'type' AS type,
    tags->'colour' AS colour,
    tags->'network' AS network,
    tags->'state' AS state,
    tags->'symbol' AS symbol,
    tags->'description' AS description,
    tags->'distance' AS distance,
    tags->'ascent' AS ascent,
    tags->'descent' AS descent,
    tags->'roundtrip' AS roundtrip,
    tags->'route_name' AS route_name,
    layer,
    service,
    %#tags AS tags

FROM {{ table }}

WHERE
    {{ bounds|bbox_filter('way') }}
    AND mz_transit_level <= {{ zoom }}
{% endmacro %}

{{ transit_query('planet_osm_line') }}

UNION ALL

{{ transit_query('planet_osm_polygon') }}
