{% macro transit_query(table, geom_type) %}
SELECT
    osm_id AS __id__,
    {% filter geometry %}way{% endfilter %} AS __geometry__,
    to_jsonb(tags) || jsonb_build_object(
      'source', 'openstreetmap.org',
      'min_zoom', mz_transit_level
    ) AS __properties__

FROM {{ table }}

WHERE
    {{ bounds[geom_type]|bbox_filter('way',3857) }}
{% if zoom >= 16 %}
    AND mz_transit_level IS NOT NULL
{% else %}
    AND mz_transit_level <= {{ zoom }}
{% endif %}
{% endmacro %}

{{ transit_query('planet_osm_line', 'line') }}

UNION ALL

{{ transit_query('planet_osm_polygon', 'polygon') }}
