{% macro ne_water_cols() %}
    sum(way_area)::bigint AS area,
    mz_calculate_output_water(t.*) AS mz_properties,
    'naturalearthdata.com' AS source,
    {% filter geometry %}st_union(the_geom){% endfilter %} AS __geometry__,
    max(gid) AS __id__,
    NULL AS label_placement,
    NULL AS boundary
{% endmacro %}

{% if zoom < 9 %}
SELECT
    NULL AS name,
    NULL AS mz_label_placement,
    {{ ne_water_cols() }}

{% if zoom < 2 %}
FROM ne_110m_ocean t
{% elif 2 <= zoom < 5 %}
FROM ne_50m_ocean t
{% elif 5 <= zoom < 9 %}
FROM ne_10m_ocean t
{% endif %}

WHERE
  mz_water_min_zoom <= {{ zoom }} AND
  {{ bounds|bbox_filter('the_geom') }}
GROUP BY mz_properties

UNION ALL

SELECT
    name,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    {{ ne_water_cols() }}

{% if zoom < 2 %}
FROM ne_110m_lakes t
{% elif 2 <= zoom < 5 %}
FROM ne_50m_lakes t
{% elif 5 <= zoom < 9 %}
FROM ne_10m_lakes t
{% endif %}

WHERE
  mz_water_min_zoom <= {{ zoom }} AND
  {{ bounds|bbox_filter('the_geom') }}
GROUP BY name, mz_properties, mz_label_placement

UNION ALL

SELECT
    NULL AS name,
    NULL AS mz_label_placement,
    NULL AS area,
    mz_calculate_output_water(t.*) AS mz_properties,
    'naturalearthdata.com' AS source,
    {% filter geometry %}the_geom{% endfilter %} AS __geometry__,
    gid AS __id__,
    NULL AS label_placement,
    'yes' AS boundary

FROM
{% if zoom < 2 %}
    ne_110m_coastline t
{% elif 2 <= zoom < 5 %}
    ne_50m_coastline t
{% elif 5 <= zoom < 9 %}
    ne_10m_coastline t
{% endif %}

WHERE
  mz_water_min_zoom <= {{ zoom }} AND
  {{ bounds|bbox_filter('the_geom') }}

UNION ALL

SELECT
    NULL AS name,
    NULL AS mz_label_placement,
    NULL AS area,
    mz_calculate_output_water(t.*) AS mz_properties,
    'naturalearthdata.com' AS source,
    {% filter geometry %}st_boundary(the_geom){% endfilter %} AS __geometry__,
    gid AS __id__,
    NULL AS label_placement,
    'yes' AS boundary

FROM
{% if zoom < 2 %}
    ne_110m_lakes t
{% elif 2 <= zoom < 5 %}
    ne_50m_lakes t
{% elif 5 <= zoom < 9 %}
    ne_10m_lakes t
{% endif %}

WHERE
  mz_water_min_zoom <= {{ zoom }} AND
  {{ bounds|bbox_filter('the_geom') }}

{% if 4 <= zoom < 9 %}
UNION ALL

SELECT
    name,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    {{ ne_water_cols() }}

{% if 4 <= zoom < 5 %}
FROM ne_50m_playas t
{% elif 5 <= zoom < 9 %}
FROM ne_10m_playas t
{% endif %}

WHERE
  mz_water_min_zoom <= {{ zoom }} AND
  {{ bounds|bbox_filter('the_geom') }}
GROUP BY name, mz_properties, mz_label_placement

UNION ALL

SELECT
    NULL AS name,
    NULL AS mz_label_placement,
    NULL AS area,
    mz_calculate_output_water(t.*) AS mz_properties,
    'naturalearthdata.com' AS source,
    {% filter geometry %}st_boundary(the_geom){% endfilter %} AS __geometry__,
    gid AS __id__,
    NULL AS label_placement,
    'yes' AS boundary

FROM
{% if 4 <= zoom < 5 %}
    ne_50m_playas t
{% elif 5 <= zoom < 9 %}
    ne_10m_playas t
{% endif %}

WHERE
  mz_water_min_zoom <= {{ zoom }} AND
  {{ bounds|bbox_filter('the_geom') }}

{% endif %}

{% elif 9 <= zoom %}
SELECT
    NULL AS name,
    NULL AS mz_label_placement,
    way_area::bigint AS area,
    mz_calculate_output_water(t.*) AS mz_properties,
    'openstreetmapdata.com' AS source,
    {% filter geometry %}the_geom{% endfilter %} AS __geometry__,
    gid AS __id__,
    NULL AS label_placement,
    NULL AS tunnel,
    NULL AS tags

FROM water_polygons t

WHERE {{ bounds|bbox_filter('the_geom') }}

UNION ALL

SELECT
    name,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    way_area::bigint AS area,
    mz_calculate_output_water(t.*) AS mz_properties,
    'openstreetmap.org' AS source,
    {% filter geometry %}{{ bounds|bbox_padded_intersection('way') }}{% endfilter %} AS __geometry__,
    osm_id AS __id__,
    NULL AS label_placement,
    tunnel,
    %#tags AS tags

FROM planet_osm_polygon t

WHERE
    mz_water_min_zoom <= {{ zoom }} AND
    {{ bounds|bbox_filter('way') }}

UNION ALL

SELECT
    name,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    NULL AS area,
    mz_calculate_output_water(t.*) AS mz_properties,
    'openstreetmap.org' AS source,
    {% filter geometry %}{{ bounds|bbox_padded_intersection('way') }}{% endfilter %} AS __geometry__,
    osm_id AS __id__,
    NULL AS label_placement,
    tunnel,
    %#tags AS tags

FROM planet_osm_line t

WHERE
    mz_water_min_zoom <= {{ zoom }} AND
    {{ bounds|bbox_filter('way') }}

{% endif %}

UNION ALL

SELECT
  name,
  NULL AS mz_label_placement,
  NULL AS area,
  mz_calculate_output_water(t.*) AS mz_properties,
  'openstreetmap.org' AS source,
  way AS __geometry__,
  osm_id AS __id__,
  'yes' AS label_placement,
{% if zoom < 9 %}
  NULL AS boundary
{% else %}
  NULL AS tunnel,
  %#tags AS tags
{% endif %}

FROM
  planet_osm_point t

WHERE
  mz_water_min_zoom <= {{ zoom }} AND
  {{ bounds|bbox_filter('way') }}
