{% macro ne_water_cols() %}
    way_area::bigint AS area,
    mz_calculate_json_water(t.*) AS mz_properties,
    'naturalearthdata.com' AS source,
    {% filter geometry %}{{ bounds['polygon']|bbox_padded_intersection('the_geom') }}{% endfilter %} AS __geometry__,
    gid AS __id__,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    NULL::boolean AS label_placement,
    NULL::boolean AS boundary
{% endmacro %}

{% if zoom < 9 %}
SELECT
    NULL AS name,
    {{ ne_water_cols() }}

{% if zoom < 2 %}
FROM ne_110m_ocean t
{% elif 2 <= zoom < 5 %}
FROM ne_50m_ocean t
{% elif 5 <= zoom < 9 %}
FROM ne_10m_ocean t
{% endif %}

WHERE
  mz_water_min_zoom <= {{ zoom }} AND
  {{ bounds['polygon']|bbox_filter('the_geom',3857) }}

UNION ALL

SELECT
    name,
    {{ ne_water_cols() }}

{% if zoom < 2 %}
FROM ne_110m_lakes t
{% elif 2 <= zoom < 5 %}
FROM ne_50m_lakes t
{% elif 5 <= zoom < 9 %}
FROM ne_10m_lakes t
{% endif %}

WHERE
  mz_water_min_zoom <= {{ zoom }} AND
  {{ bounds['polygon']|bbox_filter('the_geom',3857) }}

UNION ALL

SELECT
    NULL AS name,
    NULL AS area,
    mz_calculate_json_water(t.*) AS mz_properties,
    'naturalearthdata.com' AS source,
    {% filter geometry %}{{ bounds['polygon']|bbox_padded_intersection('the_geom') }}{% endfilter %} AS __geometry__,
    gid AS __id__,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    NULL::boolean AS label_placement,
    true AS boundary

FROM
{% if zoom < 2 %}
    ne_110m_coastline t
{% elif 2 <= zoom < 5 %}
    ne_50m_coastline t
{% elif 5 <= zoom < 9 %}
    ne_10m_coastline t
{% endif %}

WHERE
  mz_water_min_zoom <= {{ zoom }} AND
  {{ bounds['line']|bbox_filter('the_geom',3857) }}

UNION ALL

SELECT
    NULL AS name,
    NULL AS area,
    mz_calculate_json_water(t.*) AS mz_properties,
    'naturalearthdata.com' AS source,
    {% filter geometry %}st_boundary(the_geom){% endfilter %} AS __geometry__,
    gid AS __id__,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    NULL::boolean AS label_placement,
    true AS boundary

FROM
{% if zoom < 2 %}
    ne_110m_lakes t
{% elif 2 <= zoom < 5 %}
    ne_50m_lakes t
{% elif 5 <= zoom < 9 %}
    ne_10m_lakes t
{% endif %}

WHERE
  mz_water_min_zoom <= {{ zoom }} AND
  {{ bounds['line']|bbox_filter('the_geom',3857) }}

{% if 4 <= zoom < 9 %}
UNION ALL

SELECT
    name,
    {{ ne_water_cols() }}

{% if 4 <= zoom < 5 %}
FROM ne_50m_playas t
{% elif 5 <= zoom < 9 %}
FROM ne_10m_playas t
{% endif %}

WHERE
  mz_water_min_zoom <= {{ zoom }} AND
  {{ bounds['polygon']|bbox_filter('the_geom',3857) }}

UNION ALL

SELECT
    NULL AS name,
    NULL AS area,
    mz_calculate_json_water(t.*) AS mz_properties,
    'naturalearthdata.com' AS source,
    {% filter geometry %}st_boundary(the_geom){% endfilter %} AS __geometry__,
    gid AS __id__,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    NULL::boolean AS label_placement,
    true AS boundary

FROM
{% if 4 <= zoom < 5 %}
    ne_50m_playas t
{% elif 5 <= zoom < 9 %}
    ne_10m_playas t
{% endif %}

WHERE
  mz_water_min_zoom <= {{ zoom }} AND
  {{ bounds['line']|bbox_filter('the_geom',3857) }}

{% endif %}

{% elif 9 <= zoom %}
SELECT
    '' AS name,
    way_area::bigint AS area,
    mz_calculate_json_water(t.*) AS mz_properties,
    'openstreetmapdata.com' AS source,
    {% filter geometry %}{{ bounds['polygon']|bbox_padded_intersection('the_geom') }}{% endfilter %} AS __geometry__,
    gid AS __id__,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    NULL::boolean AS label_placement,
    NULL AS tunnel,
    NULL AS tags

FROM water_polygons t

WHERE {{ bounds['polygon']|bbox_filter('the_geom',3857) }}

UNION ALL

SELECT
    tags->'name' AS name,
    way_area::bigint AS area,
    mz_calculate_json_water(t.*) AS mz_properties,
    'openstreetmap.org' AS source,
    {% filter geometry %}{{ bounds['polygon']|bbox_padded_intersection('way') }}{% endfilter %} AS __geometry__,
    osm_id AS __id__,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    NULL::boolean AS label_placement,
    tags->'tunnel' AS tunnel,
    %#tags AS tags

FROM planet_osm_polygon t

WHERE
{% if zoom >= 16 %}
    mz_water_min_zoom IS NOT NULL AND
{% else %}
    mz_water_min_zoom <= {{ zoom }} AND
{% endif %}
    {{ bounds['polygon']|bbox_filter('way',3857) }}

UNION ALL

SELECT
    tags->'name' AS name,
    NULL AS area,
    mz_calculate_json_water(t.*) AS mz_properties,
    'openstreetmap.org' AS source,
    {% filter geometry %}{{ bounds['line']|bbox_padded_intersection('way') }}{% endfilter %} AS __geometry__,
    osm_id AS __id__,
    {% filter geometry %}mz_label_placement{% endfilter %} AS mz_label_placement,
    NULL::boolean AS label_placement,
    tags->'tunnel' AS tunnel,
    %#tags AS tags

FROM planet_osm_line t

WHERE
{% if zoom >= 16 %}
    mz_water_min_zoom IS NOT NULL AND
{% else %}
    mz_water_min_zoom <= {{ zoom }} AND
{% endif %}
    {{ bounds['line']|bbox_filter('way',3857) }}

{% endif %}

UNION ALL

SELECT
  tags->'name' AS name,
  NULL AS area,
  mz_calculate_json_water(t.*) AS mz_properties,
  'openstreetmap.org' AS source,
  {% filter geometry %}way{% endfilter %} AS __geometry__,
  osm_id AS __id__,
  NULL AS mz_label_placement,
  true AS label_placement,
{% if zoom < 9 %}
  NULL::boolean AS boundary
{% else %}
  NULL AS tunnel,
  %#tags AS tags
{% endif %}

FROM
  planet_osm_point t

WHERE
{% if zoom >= 16 %}
  mz_water_min_zoom IS NOT NULL AND
{% else %}
  mz_water_min_zoom <= {{ zoom }} AND
{% endif %}
  {{ bounds['point']|bbox_filter('way',3857) }}
